IIS/Assets/XsdValidation.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">

	<xs:complexType name="DatumType">
		<xs:sequence minOccurs="1" maxOccurs="unbounded">
			<xs:element name="Song" type="xs:string"/>
			<xs:element name="Artist" type="xs:string"/>
			<xs:element name="ThisWeek" type="xs:integer"/>
			<xs:element name="LastWeek" type="xs:integer"/>
			<xs:element name="PeakPosition" type="xs:integer"/>
			<xs:element name="WeeksOnChart" type="xs:integer"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="DataType">
		<xs:sequence minOccurs="1" maxOccurs="unbounded">
			<xs:element name="Datum" type="DatumType"/>
		</xs:sequence>
	</xs:complexType>

	<xs:element name="BillboardTopSongs">
		<xs:complexType>
			<xs:sequence minOccurs="1" maxOccurs="unbounded">
				<xs:element name="Data" type="DataType"></xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>